
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(header.css);
@import url(section1.css);
@import url(section2.css);
@import url(section3.css);
@import url(section4.css);
@import url(whatsapp.css);
@import url(footer.css);

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #dcdcdc;
    --color-purple: #a721a7;
    --color-whatsapp: #25D366;
    --primary-font: "Poppins", sans-serif;
    --second-font: "Orbitron", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--color-black);
}